# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node / Next.js
node_modules/
.next/
out/
dist/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store

# Data privacy
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep